body {
    margin: 0px;
}

.splashscreen {
    overflow-y:hidden;;
}

.contentIndex {
    background: url(../images/splashBG.png);
    background-size: cover;
    padding-bottom: 500px;
}

p {
    font-family: AvenirNext-Medium;
    font-size:48px;
    color:#000000;
    text-align:center;
}

.header {
    background-color: #FFB71E;
    height: 11%;
}

.contentProfile {
    background: url(../images/profileBG.png);
    background-size: contain;
}